apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-backend
  labels:
    app: {{ .Release.Name }}-backend
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.aws_iam_role_arn }}